body {
  font-family: 'Lato';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}
h2 {
	font-size: 40px;
	text-align: center !important; 
}

p {
	font-size: 24px;
}
select {
  text-align: left !important;
  text-align-last: left !important;
  width: 100%;
  height: 40px;
  /* webkit*/
}
option {
  text-align: left !important; 
  /* reset to left*/
}

.max-width {
  width: 100%;
}

.card {
  box-shadow: 0px 0px 18px #888888;
  padding: 20px;
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(3rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #9acd32 0%, #b4cd32 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  margin-bottom: 60px;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem !important;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #c1cd32 0%, #9acd32 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #808080;
  border-color: #808080;
}

.btn-start {
  font-family: 'Catamaran';
  font-weight: 600 !important;
  width: 50%;
  background-color: #DDDDDD;
  color: black;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn-start:hover, .btn-start:focus, .btn-focus:active {
  background-color: #111111;
  color: #DDDDDD;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #A9A9A9 !important;
  border-color: #A9A9A9 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem linear-gradient(#ffff00, #b4cd32);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

#canvas-gradient {
  background-image: linear-gradient(90deg, green, yellow);
  width: 100% - 20px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px
  margin-bottom: 20px;
  border-width: 4px;
  border-color: black;
}
